<div class="container">
    <ng-container *ngFor="let img of images.slice(startIndex, endIndex)">
      <img src="{{ img.url }}" alt="{{ img.title }}" class="image">
    </ng-container>
  </div>
  
  <div class="pagination">
    <a href="javascript:void(0);" class="page" (click)="goToPage(1)">1</a>
    <a href="javascript:void(0);" class="page" (click)="goToPage(2)">2</a>
    <a href="javascript:void(0);" class="page" (click)="goToPage(3)">3</a>
    <a href="javascript:void(0);" class="page" (click)="goToPage(4)">4</a>
    <a href="javascript:void(0);" class="page" (click)="goToPage(5)">5</a>
  </div>
  
  
