.container {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  margin-top: 20px;
  border-radius: 10px;
  max-height: 1220px;
  max-height: calc(4 * 170px); /* set max-height to 8 rows plus some margin */
  overflow: hidden; /* hide overflowing images */
}

.image {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px;
}


  .btn-primary {
    background-color: #a75baa;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
  }
  
  